<p><a class="button" href="/catalog/admission-to-the-college">View Admission Requirements</a></p>

<p>The VSCC online application for admission is currently unavailable.</p>

<p>In the meantime, you may print and complete this <a target="_blank" href="/sites/default/files/documents/admissions/Paper_Applicaion.pdf">Admission Application</a>.  Please scan and send it to <a href="mailto:admissions@volstate.edu">admissions@volstate.edu</a> or fax to (615) 230-4875.</p>